.read-db {
    display: block;
    overflow: hidden;

    border-spacing: 0px;
    border-radius: 10px;

    text-align: center;
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

.column-animation {
    transition: background-color 1s linear;
}

.over {
    position: fixed;
    z-index: 1;

    border-radius: 10px;
}

.button-helper {
    cursor: pointer;

    margin-top: 5px;

    font-size: 15px;

    width: 300px;

    background-color: rgb(224, 224, 224);
    box-shadow: 5px 5px 5px rgb(222, 222, 222);

    border-radius: 5px;
    border: 0px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-post {
    display: grid;

    visibility: hidden;

    top: 200px;
    left: 50%;
    transform: translateX(-50%);

    width: 1000px;
    height: 250px;
    box-shadow: 5px 5px 5px rgb(214, 214, 214);

    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
    font-size: 20px;

    background-color: rgb(224, 224, 224);
    
    grid-template-columns: 450px auto;
    align-items: center;
}

.image {
    visibility: hidden;

    box-shadow: 5px 5px 5px rgb(214, 214, 214);

    top: 250px;
    left: 50%;
    transform: translateX(-50%);

    padding: 10px;
    background-color: rgb(224, 224, 224);
}

.search {
    background-color: rgb(233, 232, 232);
    box-shadow: 5px 5px 5px rgb(226, 226, 226);

    top: 5px;
    right: 10px;

    padding: 5px;
}

.form {
    font-size: 18px;

    border-color: rgba(0, 0, 0, 0);
    border-radius: 10px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hover:hover {
    cursor: pointer;
}

label {
    border: 2px dotted black;
    border-radius: 5px;

    font-size: 25px;
}

label:hover {
    cursor: pointer;
}

.over > div {
    display: grid;
    text-align: center;
}

.send {
    background-color: rgb(224, 224, 224);
    
    font-size: 25px;

    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;

    border-radius: 5px;

    cursor: pointer;
}

@media screen and (min-width: 1800px) {
    .read-db {
        font-size: 15px;
    }
}

@media screen and (min-width: 1700px) and (max-width: 1800px) {
    .read-db {
        font-size: 14px;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1700px) {
    .read-db {
        font-size: 13px;
    }
}