{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{% static 'images/main_icon.ico' %}">
        <link rel="stylesheet" href="{% static 'styles/error.css' %}">
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{% static 'scripts/send_error.js' %}"></script>
        {% block script %}{% endblock %}
    </body>
</html>